
.chatbox{
    margin: auto;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;

    form{
        align-self: center;
    }
}

#messages{
    display: flex;
    flex-direction: column;
}


.message{
    color: white;
    padding: 10px;
    margin: 10px;
    width: 50%;
    border-radius: 10px;

    img{
        border-radius: 4px;
    }

}

.me{
    background-color:#6E4E25;
    align-self: flex-end;
}

.them{
    background-color: #ddc577;
    align-self: flex-start;
}


#chat_form{
    display: flex;
    align-items: center;
    background-color: #FDF4D5;
    border-radius: 10px;

    margin-top: auto;

    #chat_input{ 
        background-color: #FDF4D5;
        border: none;
        padding: 0 20px ;
    }
    #chat_input:focus{
        outline: none;
    }

    #media{

    }

    #submit{
        cursor: pointer;
        border: none;
        background-color: #FDF4D5;
        padding: 20px;
    }
    #submit:hover{
        background-color: #cd913d;
    }

}


.hide{
    display: none !important;
}

.chat-bubble {
    background-color:#ddc577;
    margin: 10px;
    padding:10px 20px;
    -webkit-border-radius: 20px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius: 20px;
    -moz-border-radius-bottomleft: 2px;
    border-radius: 20px;
    border-bottom-left-radius: 2px;
    width: 28px;
  }
  .typing {
    align-items: center;
    display: flex;
    height: 17px;
  }
  .typing .dot {
    animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
    background-color: rgb(110, 78, 37) ; //rgba(20,105,69,.7);
    border-radius: 50%;
    height: 7px;
    margin-right: 4px;
    vertical-align: middle;
    width: 7px;
    display: inline-block;
  }
  .typing .dot:nth-child(1) {
    animation-delay: 200ms;
  }
  .typing .dot:nth-child(2) {
    animation-delay: 300ms;
  }
  .typing .dot:nth-child(3) {
    animation-delay: 400ms;
  }
  .typing .dot:last-child {
    margin-right: 0;
  }
  
  @keyframes mercuryTypingAnimation {
    0% {
      transform: translateY(0px);
      background-color: rgba(110, 78, 37,.7);
    }
    28% {
      transform: translateY(-7px);
      background-color:rgba(110, 78, 37,.4);
    }
    44% {
      transform: translateY(0px);
      background-color: rgba(110, 78, 37,.2);
    }
  }