body{
        height: 100vh;
        margin: 0;
        display: flex;
        justify-content: center; 
        align-items: center;   
        color: white;  
    }

.box{
    border: none;
    padding: 20px 40px;
    width: fit-content;
    background-color: #53361C;
    border-radius: 12px;
    }

h1{
    color: #FEB301;
  }

.submit_button{
    padding: 10px 20px;
    border: none;
    background-color: #FEB301;
    color:#53361C;
    border-radius: 10px;
    font-weight: bolder;
    cursor: pointer;
            }

.label{
    font-weight: bold;
    color: #FCF4D4;
}

.cancel_button{
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 10px;
    color: red;
    cursor: pointer;
}