@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.container{
    margin: 20px 100px;

    header{
        text-align: center;
        margin: 50px;
    }

    h1{
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 50px;
        color: #5D3D00;
    }

    a{
        color: #5D3D00;
        text-decoration: none;
        background-color: antiquewhite;
    }
}




.stores{
    display: flex;
    justify-content: center;  
    flex-wrap: wrap;
    gap: 20px;
}

.store-card {
    flex: 0 0 calc(25% - 20px);
    position: relative;
    width: 400px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    color: white;
}

/* Background image layer */
.img {
    position: absolute;
    inset: 0;
    background-image: url('/img/store_status.png');
    background-size: cover;
    background-position: center;
    z-index: 0;   
}

.store {
    margin-top: 8px;
    position: relative;
    z-index: 1; /* Make sure it's above the background */
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .name {
        font-family: 'Lilita One', sans-serif;
        font-size: 23px;
        color: #5D3D00;
    }

    .status {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 600;
    }

    .open {
        color: #25632D;
    }

    .close {
        color: #FF0000;
    }
}

#add_store form{
    color: #FCF4D4;
    background-color: #53361C;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: auto;
    border-radius: 10px;
    border: solid 1px black;
    padding: 20px 50px;
    width: 450px ;
    
    label{
        font-family: 'Lilita One';
        font-size: 25px;
    }
    
    input, textarea{
        color: white;
        border-radius: 5px;
        border: 4px solid #FEB301;
        background-color: #53361C;
    
    
    }

    textarea:focus,
    input:focus{
        outline: none;
    }

    button{
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        height: 30px;
        color: #53361C;
        background-color: #FFCE38;
        border-radius: 200px;
        border: none;
    }

    button:hover{
        cursor: pointer;
        background-color: #daaf30;
    }

    div{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
}