{% extends 'base.html' %}

{% block content %}
<h1>Chatbox</h1>

<div class="chatbox">
    <ul class="messages" style="list-style: none;">
        {% for message in messages %}
        <!-- Get sender's name and message -->
        <li>{{ users.filter_by(id=message.sender_id).first().username}} : {{ message.message }}</li> 
        {% endfor %}
    </ul>
    <form id="chat_form" enctype="multipart/form-data">
        <input type="text" name="message" id="chat_input" placeholder="Send a text">
        <input type="file" name="message" id="media" accept="image/*,video/*">
        <input type="submit" id="submit">Send</button>
    </form>  
</div>



<script>
    var form = document.getElementById('chat_form')
    var input = document.getElementById('chat_input')
    var media = document.getElementById('media')
    var submitButton = document.getElementById('submit')
    var chat = ''


    // Submit form when user presses enter
    input.addEventListener("keypress", (event) => {
        if (event.key === "Enter") {
            // Cancel the default action, if needed
            event.preventDefault();
            // Trigger sendButton with a click
            submitButton.submit();
        }
    }); 

    // send post request through fetch when form is submitted 
    form.addEventListener('submit', () => {
        const formData = new FormData(form); 

        chat = input.value.trim() // get text input value

        if(!(chat === "") || (media.files.length > 0)){ // make sure text input is not empty or file is uploaded
        fetch('{{ url_for("chat.send_message") }}', {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data.message)
                location.reload()
            }
                
            )
            .catch((error) => {
                console.error('Error:', error)
            })
        }

    })
        
    // Get value for textbox when user clicks button
    submitButton.addEventListener('click', () => {
        chat = input.value.trim()

        const jsonData = {
            message : chat
        }


        if(!(chat === "")){
        fetch('{{ url_for("chat.send_message") }}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(chat)
        })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data.message)
                location.reload()
            }
                
            )
            .catch((error) => {
                console.error('Error:', error)
            })
        }

        input.value = ''
        console.log(chat)
    })



</script>


{% endblock %}