{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="/css/chatmessage.css">
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>

<header>
    <a href="{{ url_for('chat.chatList') }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
        </svg>
    </a>
    <img src="/profile_pics/{{recipient.profile_pic}}" width="60px" height="60px" class="profile">
    <h1>{{recipient.username}}</h1>
</header>
<hr>
<div class="chatbox">
    
    <div id="messages" style="list-style: none;">
        {% for message in messages %}
            <!-- Get sender's name and message -->

            <div class="message  {% if message.sender_id == user_id %}me{% elif message.sender_id == system_id %}system{% if user_role == 'runner' %} runner{% endif %}{% else %}them{% endif %}">
                {% if message.sender_id != user_id and not (message.sender_id == system_id and user_role == 'runner'  )%}
                <img src="/profile_pics/{{recipient.profile_pic}}" width="60px" height="60px" class="profile">
                {% endif %}

                <div class="content  {% if message.sender_id == user_id %}me{% elif message.sender_id == system_id %}system{% else %}them{% endif %}">
                    {% if message.media_url %} 
                        {% if message.media_url.split('.')[1] in 'mp4' %} <video src="{{message.media_url}}" width="350px" controls> 
                        {% elif message.media_url.split('.')[1] in 'jpg jpeg gif png' %} <img src="{{ message.media_url }}" id="media" width="200px"> 
                        {% else %}<a href="{{ message.media_url }}" download class="download">Download Content</a>{% endif %}
                        
                    {% endif %}
                    <div class="text">{{ users.filter_by(id=message.sender_id).first().username }} : {{ message.message }}</div>
                </div>
                <!-- <div id="seen" class="{% if not(message.is_seen) %}hide{% endif %}">seen</div> -->
            </div> 

        {% endfor %}
    </div>
    <div id="typing" class="chat-bubble hide">
        <!-- <img src="/profile_pics/{{recipient.profile_pic}}" width="60px" height="60px"> -->
        <div class="typing">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
    </div>
    
    <form id="chat_form" enctype="multipart/form-data">
        <input type="text" name="message" id="chat_input" placeholder="Send a text">
        
    
        <label for="media-upload" class="custom-media">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="black" class="bi bi-upload" viewBox="0 0 16 16">
            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
            <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708z"/>
            </svg>
        </label>
        <input type="file" name="media" id="media-upload" capture="environment" >
        <span id="file-name-display">No file selected</span>

        <button id="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="black" class="bi bi-send" viewBox="0 0 16 16">
            <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
            </svg>
        </button>
    </form>  
</div>



<script>
    const socket = io({
        transports: ["polling"],  //  fallback if WebSocket is blocked
        upgrade: false,            //  disables WebSocket attempts, ensures polling works
        withCredentials: true
        });
        
    const user_id = {{ current_user.id }}
    const userProfiles = {{ user_dict | tojson }}
    const requestID = {{ request_id }}
    const form = document.getElementById('chat_form')
    const input = document.getElementById('chat_input') // Needed to track Enter key presses
    const submitButton = document.getElementById('submit')
    const typing = document.getElementById('typing')
    const seen = document.getElementById('seen')
    const seenDiv = document.createElement('div');


    
    window.scrollTo(0, document.body.scrollHeight); // Scroll to bottom of page

    let read = false;

    // Notification
    Notification.requestPermission().then((result) => {
        console.log(result);
    });

    // Join room for requestID
    socket.emit("join_room", {
        request_id: requestID
    });

    // Read receipt
    window.addEventListener('focus', ()=>{
        console.log('focused')
        console.log(read)
        if (!read){
            socket.emit('seen_message', {
                'user_id' : user_id,
                'request_id' : requestID
            })
            read = true
        }
    })


    // Listen for user_seen_message event from server
    socket.on('user_seen_message', (data)=>{
        console.log('seen')
        if (data.user_id !== user_id){
            seenDiv.classList.remove('hide')
        }
        read = false
    })

    // Listen to receive_message event by server
    socket.on("receive_message", (data) => {
        console.log('hello')
        const messageDiv = document.createElement("div");
        const contentDiv = document.createElement('div');
        const profilePic = document.createElement('img');

        messageDiv.className = "message";
        contentDiv.className = 'content';
        profilePic.className = 'profile';
        seenDiv.className = 'hide';
        seenDiv.id = 'seen';
        

        // check who's the sender
        if (data.sender_id != user_id){            
            // Send notification 
            if (Notification.permission === "granted") {
                if (document.visibilityState != "visible"){
                    new Notification(`${data.sender_name} sent you a message`, {
                    body: data.message,
                    icon: "/static/logo.png"
                    });
                }   
            }

            // Put profile picture next to message
            profilePic.src = '/profile_pics/' + userProfiles[data.sender_id]
            profilePic.width = 60
            profilePic.height = 60

            messageDiv.appendChild(profilePic)
            messageDiv.appendChild(contentDiv);
        
            // Add class
            if(data.sender_id == {{ system_id }}){
                messageDiv.classList.add('system');
                contentDiv.classList.add('system');
            }else{
                messageDiv.classList.add('them');
                contentDiv.classList.add('them');
            }
        }else{
            messageDiv.appendChild(contentDiv);
            messageDiv.classList.add('me');
            contentDiv.classList.add('me');
        }


      contentDiv.innerText = data.sender_name + " : " + data.message;
      seenDiv.innerText = 'seen'

      messageDiv.appendChild(seenDiv)
      document.getElementById("messages").appendChild(messageDiv);
    });

    // Shows typing indicator when the other user is typing
    socket.on('is_typing_backend', (data)=>{
        if (data.user_id != user_id){
            typing.classList.remove('hide')
        }    
        // Clear any previous timeout to restart the countdown
        clearTimeout(window.typingIndicatorTimeout);

        // Start a new timeout to hide after 1.5s
        window.typingIndicatorTimeout = setTimeout(() => {
            typing.classList.add('hide')
        }, 1500);
    })


    let typing_timeout;
    // Click submit button when user presses enter
    input.addEventListener("keypress", (event) => {
        if (event.key === "Enter") {
            // Cancel the default action, if needed
            event.preventDefault();
            // Trigger sendButton with a click
            submitButton.click();
            return;
        }
        if (typing_timeout){
            return;
        
        }
        socket.emit('is_typing_frontend', {'user_id' : user_id, 'request_id':requestID})

        typing_timeout = setTimeout(()=>{
            typing_timeout = null
        }, 1000)

    }); 


    // send post request through fetch when form is submitted 
    submitButton.addEventListener('click', (e) => {
        e.preventDefault();
        const formData = new FormData(form); 
        formData.append('request_id', requestID)

        const message = formData.get('message')?.trim() // get text input value
        const media = formData.get('media')


        // Send a POST request via fetch
        if(!(message === "") || (media.size > 0)){ // make sure text input is not empty or file is uploaded
            fetch('{{ url_for("chat.send_message") }}', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    socket.emit('send_message', data)
                }
                    
                )
                .catch((error) => {
                    console.error('Error:', error)
                })
        }

        form.reset() // Clear form after request is sent

    })  

    // Add file name to chat input
    document.getElementById('media-upload').addEventListener('change', function () {
    const fileName = this.files[0] ? this.files[0].name : "No file selected";
    document.getElementById('file-name-display').textContent = fileName;
    });


</script>


{% endblock %}