{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="/css/chatmessage.css">
<div class="list">
{% for chat in chats %}
    <a href="{{ url_for('chat.chat', request_id=chat['request_id']) }}" class="chat">
        <img src="/profile_pics/{{chat['other_user']['profile_pic']}}" alt="profile picture" width="80px" height="80px" class="profile">
        <div class="side">
            <div class="name">
                {{chat['other_user']['name'].upper()}}
            </div>
            <div class="last_text">
                {{chat['last_message']}}
            </div>
        </div>
    </a>
{% endfor %}
</div>

{% endblock %}