<html>
    <head>
        <link rel="stylesheet" href="/css/index.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anton&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <title>BeeBuzz</title>
    </head>

    <body>
        <div class="row">
            <div class="column">
                <img src="/img/Logo.jpg" alt="BeeBuzz Logo" class="img">
            </div>
            <div class="column">
                <h1>Welcome To BeeBuzz!!</h1>
                <p>Need something delivered fast on campus? BeeBuzz connects MMU students with trusted student runners. Whether it’s food, documents, or items from nearby stores.We’ve got you covered !!</p>
                <p class="bold">Request. Buzz. Delivered.</p>
                <a class="signup" href="{{ url_for('auth.signup') }}" >get started</a>
                <p class="login"><a class="login" href="{{ url_for('auth.login') }}">Already have an account? Log in</a></p>
            </div>
            <div>
                
            </div>
        </div>
    </body>
</html>