{% extends "base.html" %}
{% block content %}

<head>
    <link rel="stylesheet" href="/css/request.css">
</head>

<body>
    <div class="top_align">
     <h1>Pick a Job and Get Buzzing!</h1>

       <div class="job_container">
        {% for job in jobs %}
        <div class="job_card">
            <div class="job_info">
                <h3>{{ job.client_id }}</h3>
                <p>{{ job.item_name }}</p>
                <p>Pick-up: {{ job.pickup_location }}</p>
                <p>Drop-off: {{ job.dropoff_location }}</p>
                <p>Time: {{ job.time }}</p>
            </div>

            <div class="right">
                <p class="price">{{ job.price_offer }}</p>
                <div class="button_row">
                    <a href="{{ url_for('request_bp.view_details', request_id=job.id) }}">
                     <button class="vdetails_button">View Details</button></a>
                      <form method="POST" action="{{ url_for('request_bp.accept_jobs', request_id=job.id) }}">
                      <input type="submit" value="ACCEPT JOB" class="submit_button">
                      </form>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
        </div>
</body>

{% endblock %}
