{% extends "base.html" %}
{% block content %}

<head>
    <link rel="stylesheet" href="/css/request.css">
</head>

<body>
    <h1>Pick a Job and Get Buzzing!</h1>

       <div class="job_container">
        {% for job in jobs %}
        <div class="job_card">
            <div class="job_info">
                <h3>{{ job.client_id }}</h3>
                <p>{{ job.item_name }}</p>
                <p>Pick-up: {{ job.pickup_location }}</p>
                <p>Drop-off: {{ job.dropoff_location }}</p>
                <p>Time: {{ job.time }}</p>
            </div>

            <div class="right">
                <p class="price">{{ job.price_offer }}</p>
                <div class="button_row">
                <button class="vdetails_button">View Details</button>
                <button class="submit_button">Accept Job</button>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
</body>

{% endblock %}
