<html>
    <head>
        <link rel="stylesheet" href="/css/profile.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anton&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BeeBuzz</title>
    </head>

    <script src="script.js"></script>

    <body>
        <div class="navbar">
            <ul class="top-nav">
                <div class="nac-left">
                   <li class="nav-logo">
                       <img src="/img/LogoWB.png" class="logo" alt="BeeBuzz Logo">
                   </li>
                </div>
                <div class="nav-right">
                    <li class="nav-item">
                        <a href="{{ url_for('auth.index') }}" class="nav-icon">
                            <svg class="nav-img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="currentColor">
                              <path d="M27 18.039L16 9.501 5 18.039V14.56l11-8.54 11 8.538v3.481zm-2.75-.31v8.251h-5.5v-5.5h-5.5v5.5h-5.5v-8.25L16 11.543l8.25 6.186z"/>
                            </svg>
                            <span class="nav-label">Home</span>
                        </a>                          
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-icon">
                            <svg class="nav-img" xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="800px" height="800px" viewBox="0 0 24 24">
                              <path d="M20 4H4v2h16V4zm1 10v-2l-1-5H4l-1 5v2h1v6h10v-6h4v6h2v-6h1zm-9 4H6v-4h6v4z"/>
                            </svg>
                            <span class="nav-label">Store</span>
                        </a>
                   </li>
                   <li class="nav-item">
                    <a href="#" class="nav-icon">
                        <svg class="nav-img" width="800px" height="800px" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11 3V4L15.3436 8.77793C15.766 9.24255 16 9.85471 16 10.4826C16 11.8633 14.8807 13 13.5 13C12.1193 13 11 11.8807 11 10.5V9.68629C11 9.79109 10.9979 9.89568 10.9939 10H5.00615C5.00206 9.89568 5 9.79109 5 9.68629V10.5C5 11.8807 3.88071 13 2.5 13C1.11929 13 0 11.8633 0 10.4826C0 9.85471 0.234044 9.24255 0.65643 8.77793L5 4V3C5 1.34315 6.34315 0 8 0C9.65685 0 11 1.34315 11 3ZM5 8H11V6H5V8Z" fill="currentColor"/>
                            <path d="M8.65685 15.3431C9.59779 14.4022 10.2801 13.251 10.6581 12H5.34187C5.71987 13.251 6.40221 14.4022 7.34315 15.3431L8 16L8.65685 15.3431Z" fill="currentColor"/>
                        </svg>
                        <span class="nav-label">Jobs</span>
                    </a>
                    <li class="nav-item">
                        <a href="{{ url_for('auth.profile') }}" class="nav-icon active">
                            <svg class="nav-img" width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15 8.5C15 10.433 13.433 12 11.5 12C9.567 12 8 10.433 8 8.5C8 6.567 9.567 5 11.5 5C13.433 5 15 6.567 15 8.5Z" fill="currentColor"/>
                                <path d="M17.6305 20H5.94623C5.54449 20 5.31716 19.559 5.56788 19.2451C6.68379 17.8479 9.29072 15 12 15C14.7275 15 17.0627 17.8864 18.0272 19.2731C18.2474 19.5897 18.0161 20 17.6305 20Z" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            <span class="nav-label">Profile</span>
                        </a>
                   </li>
                   <li class="nav-item">
                    <a href="{{ url_for('auth.login') }}" class="nav-icon">
                        <svg class="nav-img" width="800px" height="800px" viewBox="0 0 12 12" enable-background="new 0 0 12 12" id="Слой_1" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon fill="currentColor" points="9,2 9,0 1,0 1,12 9,12 9,10 8,10 8,11 2,11 2,1 8,1 8,2 "/><polygon fill="currentColor" points="8.2929688,3.2929688 7.5859375,4 9.0859375,5.5 5,5.5 5,6.5 9.0859375,6.5 7.5859375,8   8.2929688,8.7070313 11,6 "/></svg>
                        <span class="nav-label">Logout</span>
                    </a>
               </li>
            </div>
            </ul>              
            </div>
        </div>

        <form method="POST" action="{{ url_for('auth.upload_profile_pic') }}" enctype="multipart/form-data">
            <label for="profile-pic">
              <img src="{{ url_for('static', filename='profile_pics/' + current_user.profile_pic) }}"
                   alt="Profile Picture" class="profile-pic" />
            </label>
            <input type="file" name="profile_pic" id="profile-pic" accept="image/*" onchange="this.form.submit()" hidden>
        </form>
        
    </body>
</html>