{% extends "base.html" %}

{%block content%}
    <head>
        <link rel="stylesheet" href="/css/request.css">
    </head>

    <body> 
        <div class ="box">
        <h1>Buzz buzz~ what can we get for you?</h1>

        <form method="POST" action="{{ url_for('request_bp.handle_request')}}">
            
        <label>What do you need?</label><br>
        <input type="text" name="need"><br><br>
        <label>Offered payment</label><br>
        <input type="text" name="payment" placeholder="e.g.RM 5.00"><br><br>
        <label>Time</label><br>
        <input type="text" name="time"><br><br>
        <label>Pickup location</label><br>
        <input type="text" name="pickup"><br><br>
        <label>Drop-off location</label><br>
        <input type="text" name="dropoff"><br><br>
        <label>Notes</label><br>
        <input type="text" name="notes"><br><br>
    
        <input type="submit" value="POST REQUEST" class="submit_button">
        </form>
        </div>
    </body>

{% endblock %}