{% extends "base.html" %}

{%block content%}
    <head>
        <link rel="stylesheet" href="request.css">
    </head>
    <body> 
        <h1>Buzz buzz~ what can we get for you?</h1>
        <form>
        <label>What do you need?</label><br>
        <input type="text"><br><br>
        <label>Offered payment</label><br>
        <input type="text" placeholder="e.g.RM 5.00"><br><br>
        <label>Time</label><br>
        <input type="text"><br><br>
        <label>Pickup location</label><br>
        <input type="text"><br><br>
        <label>Drop-off location</label><br>
        <input type="text"><br><br>
        <label>Notes</label><br>
        <input type="text"><br><br>
        <input type="submit" value="POST REQUEST">
        </form>
    </body>

{% endblock %}