{% extends "base.html" %}

{%block content%}
    <head>
        <link rel="stylesheet" href="/css/request.css">
    </head>

    <body>
        <h1>YOUR REQUEST</h1>
        <div class="label">What do you need?</div>
        <p>{{ data.need }}</p>

        <div class="label">Offered payment</div>
        <p>{{ data.payment }}</p>

        <div class="label">Time</div>
        <p>{{ data.time }}</p>

        <div class="label">Pickup location</div>
        <p>{{ data.pickup }}</p>

        <div class="label">Drop-off location</div>
        <p>{{ data.dropoff }}</p>

        <div class="label">Notes</div>
        <p>{{ data.notes }}</p>

        <form method="POST" action="{{ url_for('request_bp.handle_request') }}">
         <input type="hidden" name="need" value="{{ data.need }}">
         <input type="hidden" name="payment" value="{{ data.payment }}">
         <input type="hidden" name="time" value="{{ data.time }}">
         <input type="hidden" name="pickup" value="{{ data.pickup }}">
         <input type="hidden" name="dropoff" value="{{ data.dropoff }}">
         <input type="hidden" name="notes" value="{{ data.notes }}">
        
         <input type="submit" value="EDIT REQUEST" class="submit_button">
         <input type="submit" value="CANCEL REQUEST" class="cancel_button">
        </form>

    </body>


    {% endblock %}